body {
    /* background-image: url("../img/login-background-25.png");
    background-size: cover; */
}

.navbar-items {
    padding-right: 30px;
}

.navbar-items > li {
    padding: 0px 15px;
    font-size: 19px;
    text-align: center;
}

.recipe-panel {
    /* margin-top: 40px;
    padding: 85px;
    background: white;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #eeeeeed3; */
    padding: 80px 30px;
}

.recipe-panel .recipe-title h3 {
   
}