.navbar-items {
    padding-right: 30px;
}

.navbar-items > li {
    padding: 0px 15px;
    font-size: 19px;
    text-align: center;
}

.recovery-panel {
    background-image: url("../img/footer-background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 91px - 100px);
    height: 78vh;
    padding: 30px;
}

.recovery-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 85px;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #eeeeeed3;
}

.recovery-card span{
    padding-bottom: 20px;
    text-align: center;
}

.footer-panel {
    background-image: url("../img/footer-background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 30px;
    font-size: 16px;
    font-family: 'McLaren', cursive;
}


.content {
    min-height: calc(100vh - 91px - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/login-background-75.png");
    background-size: cover;
    text-align: center;
}

.content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 85px;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #eeeeeed3;
}

.content .container h3 {
    font-family: 'Ubuntu Mono', monospace;
}

.content .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.content .container form input {
    width: 100%;
}

.content .container form label {
    margin-top: 15px;
}

.content .container form input[type="submit"] {
    margin-top: 30px;
    width: 100%;
}