html, body {
    height: 100%;
}

.navbar-items {
    padding-right: 30px;
}

.navbar-items > li {
    padding: 0px 15px;
    font-size: 19px;
    text-align: center;
}

.register-panel {
    background-image: url("../img/login-background-75.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 91px - 100px);
    padding: 30px;
}

.nick-info {
    text-align: center;
}

.register-card {
    padding: 45px 85px;
    background: white;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #eeeeeed3;
}

.register-panel .register-card h2 {
    text-align: center;
    padding-bottom: 25px;
}

.register-panel .register-card h2 {
    text-align: center;
    padding-bottom: 25px;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.form-buttons button {
    width: 100%;
}

.footer-panel {
    background-image: url("../img/footer-background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 30px;
    font-size: 16px;
    font-family: 'McLaren', cursive;
}